In [1]:
sentence = input("Enter a sentence: ")

# Step 1: Split sentence into words
words = sentence.split()

# Step 2: Convert to set (removes duplicates)
unique_words = set(words)

# Step 3: Print results
print("Count of unique words:", len(unique_words))
print("Unique words:", unique_words)

Enter a sentence:  my name is xyz

Count of unique words: 4
Unique words: {'xyz', 'name', 'is', 'my'}

In [2]:
# Step 1: Store employee names and salaries
employees = {}

n = int(input("Enter number of employees: "))

for i in range(n):
    name = input("Enter employee name: ")
    salary = float(input("Enter salary: "))
    employees[name] = salary

# Step 2: Find highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Step 3: Display result
print("Employee with highest salary:", highest_employee)
print("Highest salary:", highest_salary)

Enter number of employees:  2
Enter employee name:  xyz
Enter salary:  500000
Enter employee name:  abc
Enter salary:  600000

Employee with highest salary: abc
Highest salary: 600000.0

In [3]:
numbers = [45, 22, 89, 10, 66]

# Step 1: Initialize
maximum = numbers[0]
minimum = numbers[0]

# Step 2: Loop and compare
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Step 3: Print results
print("Maximum value:", maximum)
print("Minimum value:", minimum)

Maximum value: 89
Minimum value: 10

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
text = "pythonpp"   # Example input

char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 3, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [9]:
employees = {
    "E101": "Rahul",
    "E102": "Anjali",
    "E103": "Vikram"
}

key_to_check = "E102"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
marks = [70, 75, 80, 65]   # Example list

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5